//Colors
 $bgColor: white;
 $firstColor: #222;
 $secondColor:red;
  
// Fonts
 $mainFont: 'Roboto', sans-serif;
 $mainFontSize: 10px;

 // Shadows
 $shadow-normal: 
    .6rem .6rem 1.2rem #ebebeb,
    -.6rem -.6rem 1.2rem #fff;
 $shadow-inset:
     inset .6rem .6rem 1.2rem #ebebeb,
     inset -.6rem -.6rem 1.2rem #fff;


