  //Colors
 $clr-bg: #FFF;
 $clr-primary-100: #000;
 $clr-primary-200: #222;

 $clr-neutral-100: #333;
 $clr-neutral-200: #666;
 $clr-neutral-300: #999;
 $clr-neutral-700: #FFF;
 

  
// Fonts
 $ff-primary: 'Roboto', sans-serif;

//  Font Sizes
 $fs-root: 10px;

 $fs-100: 1.6rem;
 $fs-200: 2.4rem;
 $fs-300: 3.2rem;
 $fs-400: 4.8rem;
 $fs-500: 5.6rem;
 $fs-700: 7.2rem;
 $fs-800: 8rem;

